#ErrorDocument 401 http://localhost/cmscp/error.php?code=401
#ErrorDocument 403 http://localhost/cmscp/error.php?code=403
#ErrorDocument 404 http://localhost/cmscp/error.php?code=404
#ErrorDocument 500 http://localhost/cmscp/error.php?code=500

<Files "common.php">
Order Allow,Deny
Deny from All
</Files>