.suggestionsBox				{ position:relative; left:0px; margin:1px; width:200px; background-color:#212427; -moz-border-radius:2px; -webkit-border-radius:2px; border:1px solid #000; color:#fff; }
.suggestionList				{ margin:0px; padding:0px; }
.suggestionList li			{ margin:0px; padding:3px; cursor:pointer;  list-style-position:inside; }
.suggestionList li.more		{ list-style-type:none; margin:0px; padding:3px; cursor:pointer; }
.suggestionList li:hover	{ background-color:#659CD8; }

.load	{ background-image:url(loader.gif); background-position:right; background-repeat:no-repeat; }