.day					{ color:#A9A9A9; font-weight:normal; }
.today, a.today			{ color:#F00; font-weight:normal; }
.more, a.more			{ color:#FFF; font-weight:normal; }
.birthday, a.birthday	{ color:#0F0; font-weight:normal; }
.events, a.events		{ color:#FF0; font-weight:normal; }
.wars, a.wars			{ color:#0FF; font-weight:normal; }
.trains, a.trains 		{ color:#F90; font-weight:normal; }
