*		{ margin:0; padding:0 }
html	{ font-size:100%; height:100%; margin-bottom:1px }
body	{ font-family:Verdana, Geneva, sans-serif; color: #536482; background-color: #ACA8A1; font-size: 11px; margin: 0; padding:0px; padding-top:25px; }
form	{ margin:0; padding:0; }

html, button, input, select, textarea, a { font-family: Verdana, Geneva, sans-serif; color: #000; font-size: 1.0em; }

div#head { position:absolute; top:0; left:0; width:100%; height:25px; background:url("images/border_flop.gif") repeat-x 0 98%; }
@media screen	{ body>div#head { position:fixed; } }
* html body		{ overflow:hidden; } 
* html div#cont	{ overflow:auto; height:100%; }

img, img.icon { vertical-align:top; border-width:0; border:0; padding:0px 2px; }

div { padding:0px; margin:0px; }

.win	{ color:#0C0; }
.lose	{ color:#F00; }
.draw	{ color:#FC0; }

.normal	{ font-size:11px; }
.small	{ font-size:10px; }

a:link,a:active,a:visited	{ color: #03C; text-decoration: none; }
a:hover						{ color: #39F; text-decoration: underline; }

.index { float: left; width: 49%; margin-bottom:5px; height: 141px; }
.large { width: 100%; }


/*label { display: table-cell; }*/
table.db label { display: block; }

<!--select { padding:0px; font-size: 10px; }-->



/* Browser Reset 
input:invalid {
box-shadow:none;
}
 ersetzt Asterisk 
input:required + label::after {
content:" *";
color:#f00;
}
 nicht oder falsch ausgefuellte Felder rot markieren 
input:focus:invalid {
border-color:#f00;
}
 richtig ausgefuellte Felder gruen markieren 
input:required:focus:valid {
border-color:#0c0;
}
 Buttons mit grauem Gradient und runden Ecken 
button {
background:-moz-linear-gradient(top,#fff,#ccc);
background:-webkit-linear-gradient(top,#fff,#ccc);
background:-ms-linear-gradient(top,#fff,#ccc);
background:-o-linear-gradient(top,#fff,#ccc);
background:linear-gradient(top,#fff,#ccc);
border-radius:5px;
}
 Submit-Buttons mit blauem Verlauf 
button[type="submit"] {
background:-moz-linear-gradient(top,#0cc,#08c);
background:-webkit-linear-gradient(top,#0cc,#08c);
background:-ms-linear-gradient(top,#0cc,#08c);
background:-o-linear-gradient(top,#0cc,#09c);
background:linear-gradient(top,#0cc,#08c);
}
*/
input[type="radio"]
{ background:none; border-style:none; }

input[type="text"], input[type="submit"], input[type="reset"], input[type="password"], select, textarea, input.more
{ background:#F0EFEF; color:#000; border:#000 1px solid; padding:1px; font-size: 0.95em; }

input[type="submit"].delete, input[type="submit"].delete:hover { font-weight:normal; }

select { padding:0px; }

input[type="submit"], input[type="reset"], input.more
{ padding:0px 2px; font-size: 10px; }

input[type="submit"], input[type="submit"]:hover, input.more, input.more:hover
{ font-weight:bold; }

input[type="text"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="password"]:hover, select:hover, textarea:hover, input.more:hover
{ background:#FAFAFA; color:#39F; border:#39F 1px solid; }

optgroup	{ background:#CCCCCC; }
option		{ background:#FAFAFA; }

.right	{ float:right; }
span.right	{ float:right; }
span.righti	{ float:right; font-style:italic; }

#hover:hover		{ color:#000; }

.border-left				{ background:url("images/border_left.gif") #FFFFFF repeat-y 0 0; }
.border-right				{ background:url("images/border_right.gif") repeat-y 100% 0; }
.border-top					{ background:url("images/border_top.gif") repeat-x 0 0; }
.border-top-left			{ background:url("images/border_top_left.gif") no-repeat 0 0; }
.border-top-right			{ background:url("images/border_top_right.gif") no-repeat 100% 0; width:100%; }
.border-bottom				{ background:url("images/border_bottom2.gif") repeat-x 0 100%; text-align:center; color:#000; }
.border-bottom span			{ background:url("images/border_bottom.gif") no-repeat 0 0; display:block; height:18px; }
.border-bottom span span	{ background-position:100% -18px; }
.inside						{ padding:17px 27px 10px 27px; }

#wrap			{ padding:0px 5px; width:980px; margin:0 auto; }
#page-header	{ clear:both; height:32px; }
#page-body		{ clear:both; margin:4px 0; }
#page-footer	{ clear:both; }

#navlist { border-bottom:1px solid #ccc; margin:0; padding-bottom:19px; padding-left:10px; }
#navlist ul, #navlist li { display:inline; list-style-type:none; margin:0; padding:0; }
#navlist a:link, #navlist a:visited, #navlist a:link#setting, #navlist a:visited#setting, #navlist a:link#right, #navlist a:visited#right {
	background:#E8EBF0;
	border:1px solid #ccc;
	color:#666;
	font-size:small;
	font-weight:normal;
	line-height:14px;
	float:left;
	margin-right:8px;
	padding:2px 10px;
	text-decoration:none;
}

#navlist a:link#right, #navlist a:visited#right {
	float:right;
	margin-right:10px;
}

#navlist a:link#setting,	#navlist a:visited#setting	{ float:right; }
#navlist a:link#right,		#navlist a:visited#right	{ background:#fff; border-bottom:1px solid #fff; color:#000; }
#navlist a:link#current,	#navlist a:visited#current	{ background:#fff; border-bottom:1px solid #fff; color:#000; }
#navlist a:hover,			#navlist a:hover#setting	{ background:#fdfdfd; border-bottom:1px solid #fdfdfd; color:#39F;  }
#navlist ul a:hover										{ color:#f00 !important; }

#navinfo ul, #navinfo li { list-style-type:none; margin:0; padding:5px; font-size:10px; text-align:left; }
#navopts ul, #navopts li { list-style-type:none; margin:0; padding:5px; font-size:10px; text-align:right; }
#navinfo ul:hover, #navinfo li:hover, #navopts ul:hover, #navopts li:hover { color:#000; cursor:default; }

.liteTabs			{ margin: 0; padding: 0; overflow: hidden; width: 40px; font-size:10px; font-weight:normal; text-align:right; }
.liteTabs ul		{ margin: 0; padding: 0; overflow: hidden; padding-left:10px; }
.liteTabs li		{ float: left; list-style-type: none; }
.liteTabs li a		{ display: block; text-decoration: none; outline: 0; padding:2px 10px; margin-right:8px; color: #666; background: #E8EBF0; border:1px solid #ccc; }
.liteTabs a:hover	{ background:#fdfdfd; border-bottom:1px solid #fdfdfd; color:#39F; }
.liteTabs a:focus	{ text-decoration: underline; }
.liteTabs a.selected, .liteTabs a.selected:hover { background:#fff; border-bottom:1px solid #fff; color:#000; }
.liteTabs div { float: left; width: 100%; padding: 0; background: white }
.liteTabs div.selected { position: static !important }
.liteTabs li a.icon_accept {
    background-image: url(images/icon_yes.png);
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left: 24px;
}

/**************************************** Borders */
.borders ul { position: relative; top: 1px }
.borders li a { border: 1px solid #ccc; border-bottom: 0 }
.borders div { border:1px solid #ccc; }

.suggestionsBox				{ position:relative; left:0px; margin:1px; width:auto; background-color:#212427; -moz-border-radius:2px; -webkit-border-radius:2px; border:1px solid #000; color:#fff; }
.suggestionList				{ margin:0px; padding:0px; }
.suggestionList li			{ margin:0px; padding:3px; cursor:pointer; }
.suggestionList li.more		{ list-style-type:none; margin:0px; padding:3px; cursor:pointer; }
.suggestionList li:hover	{ background-color:#659CD8; }

table { padding:0px; width:100%; border-width:0px; border-spacing:0px; border-style:none; border-collapse:separate; border:none; vertical-align:middle; font-size:100%; }
table th, table td { padding:0px; }

table.navi:hover		{ color:#000; text-decoration:none; }
table.navi th			{ padding:0px 5px; font-weight:bold; height:20px; cursor:pointer; text-align:left; font-size:1em; }
table.navi td			{ padding:0px 2px; }
table.navi td a:hover	{ color:#39F; text-decoration:none; border-left:5px solid #FFF; }
table.navi td a.active	{ color:#F00; text-decoration:none; }

a.red	{ color:#F00; text-decoration:none; }

table.header td			{ font-size:10px; padding:1px; text-align:right; }
table.header td.info	{ padding:5px; text-align:left; }
table.header td:hover	{ color:#000; cursor:default; }

.users					{ padding:0px; width:100%; border-width:0px; border-spacing:0px; border-style:none; border-collapse:separate; border:none; vertical-align:middle; }
.users tr:hover td		{ color:#000; }
.users th				{ padding:1px 3px; color: #000; border-bottom: 1px solid #ccc; text-align:left; font-size: 0.9em; }
.users th:first-child	{ width:40%; }
.users th				{ width:20%; }
.users th:last-child	{ width:1%; }
.users td				{ padding:1px 3px; white-space:nowrap; }
.users td.empty			{ text-align:center; }

.info th {
	font-family: Tahoma, Helvetica, sans-serif;
	color: #000;
	border-bottom: 1px solid #ccc;
	padding: 1px 3px;
	font-size: 0.9em;
}

.info th:first-child { text-align: right; padding-right: 10px; }
.info th:last-child { text-align: left; padding-left: 10px; }

table.info tr:hover			{ color:#000; cursor:default; }
table.info td				{ padding:1px 3px; width:25%; vertical-align:top; }
table.info td:first-child	{ text-align:right; font-weight:bold; }
table.info td:nth-child(2)	{ text-align:left; }
table.info td:nth-child(3)	{ text-align:right; font-weight:bold; }
table.info td:last-child	{ text-align:left; }

.index th:first-child		{ text-align: left; padding-left: 10px; }
.index th:last-child		{ text-align: right; padding-right: 10px; }
.index .test tr:hover		{ background-color:#efefef; color:#000; }
table.index td				{ padding:1px 5px; font-weight:normal;  }
table.index td:first-child	{ text-align:left; font-weight:normal; width:100%; white-space:nowrap; }
table.index td:last-child	{ text-align:center; font-weight:normal; white-space:nowrap; }
table.index td.empty		{ text-align:center; font-weight:normal; background:none; }

table.row						{ width:100%; border:1px #CCC solid; vertical-align:middle; border-spacing:1px; }
table.row tr:hover				{ color:#000; background-color:#efefef; }
table.row th					{ white-space:nowrap; background-color:#DFE7EB; padding:3px; text-align:left; }
table.row td					{ padding:1px 3px; background-color:#E6EDF0; vertical-align:middle; white-space:nowrap; }

.error	{ color:#bcbcbc; font-weight:bold; font-size:1em; }

.errors 			{ width:100%; border:1px #CCC solid; vertical-align:middle; border-spacing:1px; }
.errors tr:hover	{ color:#000; background-color:#efefef; }
.errors th			{ white-space:nowrap; background-color:#DFE7EB; padding:3px; text-align:left; }
.errors td			{ padding:1px 3px; background-color:#E6EDF0; vertical-align:middle; }



table.rows						{ width:100%; border:1px #CCC solid; vertical-align:middle; border-spacing:1px; }
table.rows tr:hover	td			{ color:#000; background-color:#efefef; }
table.rows th					{ white-space:nowrap; background-color:#DFE7EB; padding:3px; text-align:left; }
table.rows th:first-child		{ width:100%; }
table.rows th:last-child		{ white-space:nowrap; width:1%; text-align:center; }
table.rows td					{ padding:1px 3px; background-color:#E6EDF0; vertical-align:middle; white-space:nowrap; }
table.rows td.label				{ font-size:10px; font-weight:bold; padding:1px; }
table.rows td:first-child		{ white-space:nowrap; width:100%; text-align:left; }
table.rows td:nth-child(2)		{ white-space:nowrap; width:100%; text-align:left; }
table.rows td:last-child		{ white-space:nowrap; text-align:center; background-color:#CEE1EB; padding:3px;  }
table.rows td.empty				{ text-align:center; background-color:#E6EDF0; }

table.logs					{ width:100%; border:1px #CCC solid; border-spacing:1px; vertical-align:middle; }
table.logs th				{ background-color:#DFE7EB; padding:3px; text-align:left; white-space:nowrap; }
table.logs td				{ padding:1px 3px; vertical-align:middle; background-color:#E6EDF0; }
table.logs td.row_error		{ background-color:#F66; }
table.logs td:first-child	{ white-space:nowrap; text-align:left; }
table.logs td:nth-child(2)	{ white-space:nowrap; text-align:center; }
table.logs td:nth-child(3)	{ white-space:nowrap; text-align:center; }
table.logs td:nth-child(4)	{ text-align:left; }
table.logs td:last-child	{ white-space:nowrap; text-align:center; background-color:#CEE1EB;  }
table.logs td.empty			{ text-align:center; background-color:#E6EDF0; }
table.logs tr:hover			{ color:#000; }

table.update					{ width:100%; border:none; border-spacing:0px; font-size: 11px; }
table.update td					{ padding:5px; cursor:default; }
table.update td .icon			{ padding:0px 1px; }
table.update td.row1			{ font-weight:bold; border-right:1px #FFF solid; width:35%; white-space:nowrap; text-align:right; font-size: 11px; vertical-align:top; padding-top:6px; }
table.update td.row1			{ font-weight:bold; border-right:1px #FFF solid; width:35%; white-space:nowrap; text-align:right; font-size: 11px; vertical-align:top; padding-top:6px; }
table.update td.row1r			{ font-weight:bold; border-right:1px #FFF solid; width:35%; white-space:nowrap; text-align:right; font-size: 11px; vertical-align:top; padding-top:6px; color:#900; }
table.update td.row2			{ white-space:nowrap; width:65%; }
table.update td.row3			{ white-space:nowrap; padding:0px; }
table.update td.normal			{ white-space:nowrap; padding:5px; padding-top:6px; font-weight:bold; text-align:right; }
table.update td.clear			{ white-space:nowrap; padding:0px; }
table.update tr:hover td		{ color:#000; }
table.update tr:hover td.row1	{ border-right:1px #39F solid; }
table.update tr:hover td.row1r	{ border-right:1px #39F solid; color:#F00; }
table.update td span			{ font-weight:normal; font-size: 10px; }

.ttabs					{ padding:2px; border-spacing:1px; border-style:none; border-collapse:separate; }
.ttabs th				{ white-space:nowrap; background-color:#DFE7EB; padding:1px; text-align:center; width:5%; padding: 3px; }
.ttabs th a:hover		{ background-color:#DFE7EB; }
.ttabs th:first-child	{ white-space:nowrap; text-align:left; width:75%; }
.ttabs td				{ white-space:nowrap; text-align:center; padding: 3px; background-color:#CEE1EB; }
.ttabs td:first-child	{ white-space:nowrap; text-align:left;  padding: 3px; background-color:#E6EDF0; }
.ttabs tr:hover td		{ color:#000; }

td.bggreen		{ background-color: #86F786; }
td.bgred		{ background-color: #EFB0B2; }

table.update2					{ width:100%; border:none; border-spacing:0px; font-size: 11px; }
table.update2 td				{ padding:3px; cursor:default; }
table.update2 td .icon			{ padding:0px 1px; }
table.update2 td.row1			{ font-weight:bold; border-right:1px #FFF solid; width:35%; white-space:nowrap; text-align:right; font-size: 11px; vertical-align:top; padding-top:3px; }
table.update2 td.row1r			{ font-weight:bold; border-right:1px #FFF solid; width:35%; white-space:nowrap; text-align:right; font-size: 11px; vertical-align:top; padding-top:3px; color:#900; }
table.update2 td.row2			{ white-space:nowrap; }
table.update2 td.row3			{ white-space:nowrap; padding:0px; }
table.update2 td.normal			{ white-space:nowrap; padding:3px; padding-top:3px; font-weight:bold; text-align:right; }
table.update2 tr:hover td		{ color:#000; }
table.update2 tr:hover td.row1	{ border-right:1px #39F solid; }
table.update2 tr:hover td.row1r	{ border-right:1px #39F solid; color:#F00; }
table.update2 input				{ vertical-align:bottom; #vertical-align:baseline; }

table.update3					{ width:100%; border:none; border-spacing:0px; font-size: 10px; }
table.update3 td				{ padding:0px 5px; cursor:default; }
table.update3 td .icon			{ padding:0px 1px; }
table.update3 td.row1			{ font-weight:bold; border-right:1px #FFF solid; width:35%; white-space:nowrap; text-align:right; font-size: 10px; vertical-align:top; }
table.update3 td.row2			{ }
table.update3 td.row3			{ white-space:nowrap; padding:0px; }
table.update3 td.normal			{ white-space:nowrap; padding:5px; padding-top:6px; font-weight:bold; text-align:right; }
table.update3 tr:hover td		{ color:#000; }
table.update3 tr:hover td.row1	{ border-right:1px #39F solid; }
table.update3 input				{ vertical-align:bottom; #vertical-align:baseline; }

table.phpinfo					{ padding:0px; }
table.phpinfo th				{ white-space:nowrap; background-color:#DFE7EB; padding:3px; text-align:left; }
table.phpinfo td				{ padding:1px 3px; vertical-align:middle; }
table.phpinfo td.row1			{ padding:2px; font-weight:bold; }
table.phpinfo td:first-child	{ text-align:left; background-color:#E6EDF0; }
table.phpinfo td:last-child		{ text-align:left; background-color:#DFE7EB; }

table.submit td:first-child	{ padding:5px; text-align:right; width:35%; }
table.submit td:last-child	{ padding:5px; text-align:left; }

table.list td.row1, table.list td.row1r { width:10%; }

table.none td				{ padding:0px; padding-left:5px; white-space:nowrap; }
table.none td:last-child	{ width:100%; }

table.db th:first-child		{ text-align:left; }
table.db th					{ text-align:center; }
table.db td:nth-child(2)	{ text-align:center; }
table.db td:nth-child(3)	{ text-align:right; }
table.db td:nth-child(4)	{ text-align:center; }

table.footer					{ font-size:10px; border:none; width:100%; border-spacing:0px; padding:0px; }
table.footer td					{ padding:1px; }
table.footer td:first-child		{ vertical-align:top; white-space:nowrap; text-align:left; width:1%;  }
table.footer td:nth-child(2)	{ vertical-align:top; white-space:nowrap; }
table.footer td:last-child		{ vertical-align:top; white-space:nowrap; text-align:right; width:99%; }

table.lfooter					{ font-size:10px; border:none; width:100%; border-spacing:0px; padding:0px; }
table.lfooter td				{ padding:1px; }
table.lfooter td:first-child	{ vertical-align:top; white-space:nowrap; text-align:left; width:1%;  }
table.lfooter td:last-child		{ vertical-align:top; white-space:nowrap; text-align:left; width:99%; }

table.rfooter					{ font-size:10px; border:none; width:100%; border-spacing:0px; padding:0px; }
table.rfooter td				{ padding:1px; }
table.rfooter td:first-child	{ vertical-align:top; white-space:nowrap; text-align:right; width:99%;  }
table.rfooter td:last-child		{ vertical-align:top; white-space:nowrap; text-align:right; width:1%; }
table.rfooter tr:hover			{ color:#000; }

table.debug						{ width:100%; border:none; border-spacing:0px; font-size:10px; }
table.debug td					{ padding:2px; }
table.debug td.row1				{ font-weight:bold; border-right:1px #FFF solid; vertical-align:top; }
table.debug tr:hover td			{ color:#000; }
table.debug tr:hover td.row1	{ border-right:1px #39F solid; }

table.agree				{ width:100%; border:none; padding:4px; background-color:#98FB98; }
table.disagree			{ width:100%; border:none; padding:4px; background-color:#B22222; color:#FFF; }
th.agree, th.disagree	{ font-size:12px; font-weight:bold; height:25px; text-align:center; vertical-align:middle; }

td.top		{ vertical-align:top; }
tr.hover:hover		{ background-color:#efefef; color:#000; }
tr.checked			{ background:#dde; }
tr.row_error:hover	{ color:#FFF; }

th .icon, td .icon	{ padding:0px 2px;  }

h1	{ padding-top: 10px; }
h2	{ padding-top: 10px; font-size: 1em; }

p	{ margin-bottom: 0.7em; line-height: 1.40em; font-size: 0.90em; }

p:hover	{ color:#000; }

.error_box		{ color:#FFF; padding: 8px; margin: 10px 0; text-align:center; background-color:#B22222;  }
.error_box p	{ color:#FFF; font-size: 0.85em; margin-bottom: 0; }

.right_box		{ color:#000; padding: 8px; margin: 10px 0; text-align:center; background-color:#98FB98;  }
.right_box p	{ color:#000; font-size: 0.85em; margin-bottom: 0; }


td.row_error, td.row_class1, td.row_class2, td.row_class3 { vertical-align:middle; padding:2px; }
td.row_error	{ background-color:#F66;}
td.row_class1	{ background-color:#E6EDF0; /* DFE7EB */ }
td.row_class2	{ background-color:#CEE1EB; /* F0EFEF */ }
td.row_class3	{ background-color:#F0F8FF; /* B8DEEB */ }

#cmain {
	float: left;
	width: 79%;
	margin: 0 0 0 3%;
	min-height: 350px;
}

* html #cmain {
	height: 350px;
}

#header {
	float: left;
	width: 100%;
}

/* Menu */
#cmenu {
	float: left;
	width: 18%;
	font-size: 1.00em;
	padding: 0;
}

#cmenu p {
	font-size: 0.9em;
}

#cmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Default list state */
#cmenu li {
	padding: 0;
	margin: 0;
	font-size: 0.9em;
	font-weight: bold;
	display: inline;
}

#cmenu li.header {
	font-family: Tahoma, Helvetica, sans-serif;
	display: block;
/*	font-weight: bold; */
	color: #000;
	border-bottom: 1px solid #ccc;
	padding: 4px 0 2px;
	margin-top: 15px;
	text-transform: uppercase;
	font-size: 0.8em;
}

#cmain li.header {
	font-family: Tahoma, Helvetica, sans-serif;
	display: block;
	font-weight: bold;
	color: #000;
	border-bottom: 1px solid #ccc;
	padding: 4px 0 2px;
	margin-top: 15px;
	text-transform: uppercase;
	font-size: 0.8em;
}

/* List items */
ul, ol {
	list-style-position: inside;
	margin-left: 1em;
}

li {
	display: list-item;
	list-style-type: inherit;
}

/* General form styles
----------------------------------------*/
fieldset {
/*	margin: 10px 0; */
	margin-top: 10px;
	padding: 5px;
	border-top: 1px solid #D7D7D7;
	border-right: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
	border-left: 1px solid #D7D7D7;
	background-color: #FFFFFF;
	position: relative;
}

fieldset.views {
	background-color:#F5F5F5;
}

* html fieldset {
	padding: 0 5px 0px 5px;
}

fieldset p {
	font-size: 0.85em;
}

legend {
	padding: 2px 4px;
/*	border: 1px solid #D7D7D7;*/
	font-size: 1em;
	font-weight: bold;
	color: #115098;
	margin-top: 0.4em;
	position: relative;
	text-transform: none;
/*	line-height: 1.2em;
	top: -.2em;*/
	background-color:#FFF;
	vertical-align: middle;
}

* html legend {
	margin: 0 0 -10px -7px;
	line-height: 1em;
	font-size: .85em;
}

fieldset.fast, p.fast {
	margin: 0 0 5px;
	padding: 5px 0 0;
	border: none;
	background-color: transparent;
	text-align: right;
}

fieldset.fast legend {
	display: none;
}

/* Definition list layout for forms
	Other general def. list properties defined in prosilver_main.css
---------------------------------------- */
dl		{ font-size: 1.00em; /* font-family: Verdana, Helvetica, Arial, sans-serif;*/ }
dt		{ float: left; width: auto; text-align: right; }

dd { color: #666666; }
dd + dd { padding-top: 5px;}
dt span { padding: 0 5px 0 0;}

dt .explain { font-style: italic; }

dt label {
	font-size: 1.00em;
	text-align: left;
	font-weight: bold;
	
}

dd label {
	font-size: 1.00em;
	white-space: nowrap;
	margin: 0 10px 0 0;
}

html>body dd label input { vertical-align: text-bottom;}	/* Tweak for Moz to align checkboxes/radio buttons nicely */

dd input {
	font-size: 1.00em;
	max-width: 100%;
	margin: 2px 0;
}

dd select {
	font-size: 100%;
	font-size: 1em;
	width: auto;
	max-width: 100%;
	margin: 2px 0;
}

dd textarea {
	font-size: 0.90em;
	width: 90%;
}

fieldset dl			{ margin-bottom: 5px; font-size: 1em; }

fieldset dt			{ width: 45%; text-align: right; padding-top: 2px; font-weight: bold; }
fieldset.info dt	{ width: 80%; text-align: left; font-weight: normal; font-size: 1em; }
fieldset.full dt	{ width: 90%; text-align: left; }

fieldset dt.red		{ color: #900; }

fieldset dd {
	margin: 0 0 0 46%;
	padding: 0 0 0 5px;
	border: none;
	border-left: 1px solid #FFF;
	vertical-align: top;
	font-size: 1.00em;
}

fieldset.info dd {
	margin: 0 0 0 80%;
	padding: 0 0 0 5px;
	border: none;
	border-left: 1px solid #FFF;
	vertical-align: top;
	font-size: 1.00em;
}

fieldset.full dd {
	margin: 0 0 0 90%;
	padding: 0 0 0 5px;
	border: none;
	border-left: 1px solid #FFF;
	vertical-align: top;
	font-size: 1.00em;
}

dd.full {
	margin: 0;
	border: 0;
	padding: 0;
	padding-top: 3px;
	text-align: center;
	width: 95%;
}

/* Hover highlights for form rows */
fieldset dl:hover dt, fieldset dl:hover dd {
	border-color: #39F;
	color: #000;
}

/*
fieldset dl:hover dt label {
	color: #000;
}
*/

fieldset dl:hover dt.red {
	border-color: #fff;
	color: #F00;
}

fieldset dl dd label:hover {
	color: #BC2A4D;
}

input:focus, textarea:focus {
	border: 1px solid #39F;
	background-color: #E9E9E2;
	color: #000;
}

/* Submit button fieldset or paragraph
---------------------------------------- */
fieldset.submit-buttons {
	text-align: center;
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 4px;
	margin-top: -1px;
}

p.submit-buttons {
	text-align: center;
	margin: 0;
	padding: 4px;
	margin-top: 10px;
}

fieldset.submit-buttons input, p.submit-buttons input {
	padding: 3px 2px;
}

fieldset.submit-buttons legend {
	display: none;
}

.submit dt { padding:5px 3px 3px 3px; width:50%; }
.submit dd { padding:3px; }

fieldset.permissions legend {
	text-transform: none;
}

fieldset.permissions legend input{
	height: 1.1em;
}

/* Permission sections */
fieldset.permissions .permissions-simple {
	text-align: left;
	padding-top: 3px;
}

fieldset.permissions .permissions-advanced {
	padding: 10px 0 0 5px;
	vertical-align: top;
	clear: right;
}

.rtl fieldset.permissions .permissions-advanced {
	padding: 10px 5px 0 0;
	clear: left;
}

fieldset.permissions .permissions-switch {
	float: right;
}

.rtl fieldset.permissions .permissions-switch {
	float: left;
}

fieldset.permissions .padding {
}

.permissions-switch {
	margin-top: -6px;
	font-size: .9em;
}

.permissions-switch a {
	text-decoration: underline;
}

.permissions-reset {
	padding-bottom: 10px;
}

/*DL, DT, DD TAGS LIST DATA*/
/*
fieldset dl					{  }
fieldset dl dt				{ float:left; text-align:right; font-weight:bold; padding:4px; width:35%; font-size: 11px; }
fieldset dl dt.red			{ color:#900; }
fieldset dt.u label			{ cursor: help; }
fieldset dt.u				{ text-decoration: underline; }
fieldset dl dd				{ padding:4px; border-left:1px #FFF solid; }
fieldset dd					{ margin: 0 0 0 36%; padding: 4px 4px 0 4px; }
fieldset dl:hover			{ color:#000; }
fieldset dl:hover dd		{ border-left:1px #39F solid; }
fieldset dl:hover dt.red	{ color:#F00; }
fieldset img.img			{ padding-top: 5px; }

.info dl					{  }
.info dl dt				{ float:left; text-align:right; font-weight:bold; padding:4px; width:35%; font-size: 11px; }
.info dl dt.red			{ color:#900; }
.info dt.u label			{ cursor: help; }
.info dt.u				{ text-decoration: underline; }
.info dl dd				{ padding:4px; border-left:1px #FFF solid; }
.info dd					{ margin: 0 0 0 36%; padding: 4px 4px 0 4px; }
.info dl:hover			{ color:#000; }
.info dl:hover dd		{ border-left:1px #39F solid; }
.info dl:hover dt.red	{ color:#F00; }
.info img.img			{ padding-top: 5px; }

fieldset.permission dl					{  }
fieldset.permission dl dt				{ float:left; text-align:right; font-weight:bold; padding:4px; width:25%; font-size: 11px; }
fieldset.permission dl dt.red			{ color:#900; }
fieldset.permission dt.u label			{ cursor: help; }
fieldset.permission dt.u				{ text-decoration: underline; }
fieldset.permission dl dd				{ padding:4px; border-left:1px #FFF solid; }
fieldset.permission dd					{ margin: 0 0 0 26%; padding: 4px 4px 0 4px; }
fieldset.permission dl:hover			{ color:#000; }
fieldset.permission dl:hover dd		{ border-left:1px #39F solid; }
fieldset.permission dl:hover dt.red	{ color:#F00; }

div.update2 dl				{  }
div.update2 dl dt			{ float:left; text-align:right; font-weight:bold; padding:3px; width:35%; font-size: 11px; }
div.update2 dl dt.red		{ color:#900; }
div.update2 dl dd			{ padding:3px; border-left:1px #FFF solid;  }
div.update2 dd				{ margin: 0 0 0 36%; padding:0; vertical-align: top; }
div.update2 dl:hover		{ color:#000; }
div.update2 dl:hover dd		{ border-left:1px #39F solid; }
div.update2 dl:hover dt.red	{ color:#F00; }
*/
/*
fieldset.permission dl					{  }
fieldset.permission dl dt				{ float:left; text-align:right; font-weight:bold; padding:4px; width:25%; font-size: 11px; }
fieldset.permission dl dt.red			{ color:#900; }
fieldset.permission dt.u label			{ cursor: help; }
fieldset.permission dt.u				{ text-decoration: underline; }
fieldset.permission dl dd				{ padding:4px; border-left:1px #FFF solid; }
fieldset.permission dd					{ margin: 0 0 0 26%; padding: 4px 4px 0 4px; }
fieldset.permission dl:hover			{ color:#000; }
fieldset.permission dl:hover dd		{ border-left:1px #39F solid; }
fieldset.permission dl:hover dt.red	{ color:#F00; }
*/

/*
div.update dl {
	margin-bottom:50px;
}

div.update dl dt {
	color:#fff;
	float:left; 
	font-weight:bold; 
	margin-right:10px; 
	padding:5px;  
	width:100px; 
	border:1px #0F0 solid;
}

div.update dl dd {
	margin:2px 0; 
	padding:5px 0;
}

div.update dl:hover dt		{ border-right:1px #39F solid; }


div.submit dt		{ float:left; text-align:right; padding:3px; width:50%; font-size: 11px; border-right:1px #FFF solid; }
div.submit dd		{ padding:3px; border: none; vertical-align: top; }
*/